body {
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#chocolate_rains div{
    position: absolute;
    transform-style: preserve-3d;
    top: 190px;
}

#chocolate_rains {
  transform: rotateX(-15deg);
}

.heart .ring {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  opacity: 0;
  border: 1px solid #fd8aa6;
}
.heart .left {
  left: -20px;
  width: 20px;
  height: 20px;
  background: #fd8aa6;
  border-radius: 100%;
  transform-origin: 100% 0;
}
.heart .left::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 20px;
  height: 25px;
  background: #fd8aa6;
  border-radius: 0 0 0 100%;
}
.heart .right {
  width: 20px;
  height: 20px;
  background: #fd8aa6;
  border-radius: 100%;
  transform-origin: 0 0;
}
.heart .right::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 20px;
  height: 25px;
  background: #fd8aa6;
  border-radius: 0 0 100% 0;
}
.heart .movable {
  opacity: 0;
}
.heart .reverse {
  transform: translateY(70px) rotateZ(180deg);
  opacity: 0.1;
}
.heart .reverse .left, .heart .reverse .right {
  opacity: 0.5;
}
.heart:nth-child(1) {
  transform: translateX(-26px) translateZ(-282px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(1) .movable {
  -webkit-animation: drop 5000ms -1718ms linear infinite;
          animation: drop 5000ms -1718ms linear infinite;
}
.heart:nth-child(1) .ring {
  -webkit-animation: wave 5000ms 2182ms ease-out infinite;
          animation: wave 5000ms 2182ms ease-out infinite;
}
.heart:nth-child(1) .inner {
  -webkit-animation: rotation 3232ms linear infinite;
          animation: rotation 3232ms linear infinite;
}
.heart:nth-child(2) {
  transform: translateX(-242px) translateZ(379px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(2) .movable {
  -webkit-animation: drop 5000ms -2981ms linear infinite;
          animation: drop 5000ms -2981ms linear infinite;
}
.heart:nth-child(2) .ring {
  -webkit-animation: wave 5000ms 919ms ease-out infinite;
          animation: wave 5000ms 919ms ease-out infinite;
}
.heart:nth-child(2) .inner {
  -webkit-animation: rotation 2922ms linear infinite;
          animation: rotation 2922ms linear infinite;
}
.heart:nth-child(3) {
  transform: translateX(-348px) translateZ(115px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(3) .movable {
  -webkit-animation: drop 5000ms -1269ms linear infinite;
          animation: drop 5000ms -1269ms linear infinite;
}
.heart:nth-child(3) .ring {
  -webkit-animation: wave 5000ms 2631ms ease-out infinite;
          animation: wave 5000ms 2631ms ease-out infinite;
}
.heart:nth-child(3) .inner {
  -webkit-animation: rotation 2134ms linear infinite;
          animation: rotation 2134ms linear infinite;
}
.heart:nth-child(4) {
  transform: translateX(-222px) translateZ(427px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(4) .movable {
  -webkit-animation: drop 5000ms -798ms linear infinite;
          animation: drop 5000ms -798ms linear infinite;
}
.heart:nth-child(4) .ring {
  -webkit-animation: wave 5000ms 3102ms ease-out infinite;
          animation: wave 5000ms 3102ms ease-out infinite;
}
.heart:nth-child(4) .inner {
  -webkit-animation: rotation 4661ms linear infinite;
          animation: rotation 4661ms linear infinite;
}
.heart:nth-child(5) {
  transform: translateX(460px) translateZ(584px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(5) .movable {
  -webkit-animation: drop 5000ms 960ms linear infinite;
          animation: drop 5000ms 960ms linear infinite;
}
.heart:nth-child(5) .ring {
  -webkit-animation: wave 5000ms 4860ms ease-out infinite;
          animation: wave 5000ms 4860ms ease-out infinite;
}
.heart:nth-child(5) .inner {
  -webkit-animation: rotation 4825ms linear infinite;
          animation: rotation 4825ms linear infinite;
}
.heart:nth-child(6) {
  transform: translateX(65px) translateZ(421px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(6) .movable {
  -webkit-animation: drop 5000ms 1422ms linear infinite;
          animation: drop 5000ms 1422ms linear infinite;
}
.heart:nth-child(6) .ring {
  -webkit-animation: wave 5000ms 5322ms ease-out infinite;
          animation: wave 5000ms 5322ms ease-out infinite;
}
.heart:nth-child(6) .inner {
  -webkit-animation: rotation 4831ms linear infinite;
          animation: rotation 4831ms linear infinite;
}
.heart:nth-child(7) {
  transform: translateX(449px) translateZ(-271px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(7) .movable {
  -webkit-animation: drop 5000ms -2431ms linear infinite;
          animation: drop 5000ms -2431ms linear infinite;
}
.heart:nth-child(7) .ring {
  -webkit-animation: wave 5000ms 1469ms ease-out infinite;
          animation: wave 5000ms 1469ms ease-out infinite;
}
.heart:nth-child(7) .inner {
  -webkit-animation: rotation 2026ms linear infinite;
          animation: rotation 2026ms linear infinite;
}
.heart:nth-child(8) {
  transform: translateX(241px) translateZ(706px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(8) .movable {
  -webkit-animation: drop 5000ms -566ms linear infinite;
          animation: drop 5000ms -566ms linear infinite;
}
.heart:nth-child(8) .ring {
  -webkit-animation: wave 5000ms 3334ms ease-out infinite;
          animation: wave 5000ms 3334ms ease-out infinite;
}
.heart:nth-child(8) .inner {
  -webkit-animation: rotation 4591ms linear infinite;
          animation: rotation 4591ms linear infinite;
}
.heart:nth-child(9) {
  transform: translateX(139px) translateZ(-556px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(9) .movable {
  -webkit-animation: drop 5000ms 47ms linear infinite;
          animation: drop 5000ms 47ms linear infinite;
}
.heart:nth-child(9) .ring {
  -webkit-animation: wave 5000ms 3947ms ease-out infinite;
          animation: wave 5000ms 3947ms ease-out infinite;
}
.heart:nth-child(9) .inner {
  -webkit-animation: rotation 3961ms linear infinite;
          animation: rotation 3961ms linear infinite;
}
.heart:nth-child(10) {
  transform: translateX(82px) translateZ(-653px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(10) .movable {
  -webkit-animation: drop 5000ms -2561ms linear infinite;
          animation: drop 5000ms -2561ms linear infinite;
}
.heart:nth-child(10) .ring {
  -webkit-animation: wave 5000ms 1339ms ease-out infinite;
          animation: wave 5000ms 1339ms ease-out infinite;
}
.heart:nth-child(10) .inner {
  -webkit-animation: rotation 2932ms linear infinite;
          animation: rotation 2932ms linear infinite;
}
.heart:nth-child(11) {
  transform: translateX(442px) translateZ(-25px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(11) .movable {
  -webkit-animation: drop 5000ms -2151ms linear infinite;
          animation: drop 5000ms -2151ms linear infinite;
}
.heart:nth-child(11) .ring {
  -webkit-animation: wave 5000ms 1749ms ease-out infinite;
          animation: wave 5000ms 1749ms ease-out infinite;
}
.heart:nth-child(11) .inner {
  -webkit-animation: rotation 4858ms linear infinite;
          animation: rotation 4858ms linear infinite;
}
.heart:nth-child(12) {
  transform: translateX(-6px) translateZ(90px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(12) .movable {
  -webkit-animation: drop 5000ms -542ms linear infinite;
          animation: drop 5000ms -542ms linear infinite;
}
.heart:nth-child(12) .ring {
  -webkit-animation: wave 5000ms 3358ms ease-out infinite;
          animation: wave 5000ms 3358ms ease-out infinite;
}
.heart:nth-child(12) .inner {
  -webkit-animation: rotation 4842ms linear infinite;
          animation: rotation 4842ms linear infinite;
}
.heart:nth-child(13) {
  transform: translateX(491px) translateZ(286px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(13) .movable {
  -webkit-animation: drop 5000ms 1447ms linear infinite;
          animation: drop 5000ms 1447ms linear infinite;
}
.heart:nth-child(13) .ring {
  -webkit-animation: wave 5000ms 5347ms ease-out infinite;
          animation: wave 5000ms 5347ms ease-out infinite;
}
.heart:nth-child(13) .inner {
  -webkit-animation: rotation 4360ms linear infinite;
          animation: rotation 4360ms linear infinite;
}
.heart:nth-child(14) {
  transform: translateX(369px) translateZ(-730px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(14) .movable {
  -webkit-animation: drop 5000ms -1197ms linear infinite;
          animation: drop 5000ms -1197ms linear infinite;
}
.heart:nth-child(14) .ring {
  -webkit-animation: wave 5000ms 2703ms ease-out infinite;
          animation: wave 5000ms 2703ms ease-out infinite;
}
.heart:nth-child(14) .inner {
  -webkit-animation: rotation 2341ms linear infinite;
          animation: rotation 2341ms linear infinite;
}
.heart:nth-child(15) {
  transform: translateX(151px) translateZ(-161px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(15) .movable {
  -webkit-animation: drop 5000ms -2438ms linear infinite;
          animation: drop 5000ms -2438ms linear infinite;
}
.heart:nth-child(15) .ring {
  -webkit-animation: wave 5000ms 1462ms ease-out infinite;
          animation: wave 5000ms 1462ms ease-out infinite;
}
.heart:nth-child(15) .inner {
  -webkit-animation: rotation 4590ms linear infinite;
          animation: rotation 4590ms linear infinite;
}
.heart:nth-child(16) {
  transform: translateX(399px) translateZ(-795px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(16) .movable {
  -webkit-animation: drop 5000ms -1483ms linear infinite;
          animation: drop 5000ms -1483ms linear infinite;
}
.heart:nth-child(16) .ring {
  -webkit-animation: wave 5000ms 2417ms ease-out infinite;
          animation: wave 5000ms 2417ms ease-out infinite;
}
.heart:nth-child(16) .inner {
  -webkit-animation: rotation 3695ms linear infinite;
          animation: rotation 3695ms linear infinite;
}
.heart:nth-child(17) {
  transform: translateX(79px) translateZ(474px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(17) .movable {
  -webkit-animation: drop 5000ms -2667ms linear infinite;
          animation: drop 5000ms -2667ms linear infinite;
}
.heart:nth-child(17) .ring {
  -webkit-animation: wave 5000ms 1233ms ease-out infinite;
          animation: wave 5000ms 1233ms ease-out infinite;
}
.heart:nth-child(17) .inner {
  -webkit-animation: rotation 4041ms linear infinite;
          animation: rotation 4041ms linear infinite;
}
.heart:nth-child(18) {
  transform: translateX(-147px) translateZ(-359px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(18) .movable {
  -webkit-animation: drop 5000ms 956ms linear infinite;
          animation: drop 5000ms 956ms linear infinite;
}
.heart:nth-child(18) .ring {
  -webkit-animation: wave 5000ms 4856ms ease-out infinite;
          animation: wave 5000ms 4856ms ease-out infinite;
}
.heart:nth-child(18) .inner {
  -webkit-animation: rotation 3145ms linear infinite;
          animation: rotation 3145ms linear infinite;
}
.heart:nth-child(19) {
  transform: translateX(157px) translateZ(275px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(19) .movable {
  -webkit-animation: drop 5000ms 559ms linear infinite;
          animation: drop 5000ms 559ms linear infinite;
}
.heart:nth-child(19) .ring {
  -webkit-animation: wave 5000ms 4459ms ease-out infinite;
          animation: wave 5000ms 4459ms ease-out infinite;
}
.heart:nth-child(19) .inner {
  -webkit-animation: rotation 4183ms linear infinite;
          animation: rotation 4183ms linear infinite;
}
.heart:nth-child(20) {
  transform: translateX(238px) translateZ(489px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(20) .movable {
  -webkit-animation: drop 5000ms -2490ms linear infinite;
          animation: drop 5000ms -2490ms linear infinite;
}
.heart:nth-child(20) .ring {
  -webkit-animation: wave 5000ms 1410ms ease-out infinite;
          animation: wave 5000ms 1410ms ease-out infinite;
}
.heart:nth-child(20) .inner {
  -webkit-animation: rotation 3766ms linear infinite;
          animation: rotation 3766ms linear infinite;
}
.heart:nth-child(21) {
  transform: translateX(176px) translateZ(235px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(21) .movable {
  -webkit-animation: drop 5000ms -2009ms linear infinite;
          animation: drop 5000ms -2009ms linear infinite;
}
.heart:nth-child(21) .ring {
  -webkit-animation: wave 5000ms 1891ms ease-out infinite;
          animation: wave 5000ms 1891ms ease-out infinite;
}
.heart:nth-child(21) .inner {
  -webkit-animation: rotation 4222ms linear infinite;
          animation: rotation 4222ms linear infinite;
}
.heart:nth-child(22) {
  transform: translateX(-311px) translateZ(551px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(22) .movable {
  -webkit-animation: drop 5000ms 288ms linear infinite;
          animation: drop 5000ms 288ms linear infinite;
}
.heart:nth-child(22) .ring {
  -webkit-animation: wave 5000ms 4188ms ease-out infinite;
          animation: wave 5000ms 4188ms ease-out infinite;
}
.heart:nth-child(22) .inner {
  -webkit-animation: rotation 3235ms linear infinite;
          animation: rotation 3235ms linear infinite;
}
.heart:nth-child(23) {
  transform: translateX(-454px) translateZ(84px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(23) .movable {
  -webkit-animation: drop 5000ms -414ms linear infinite;
          animation: drop 5000ms -414ms linear infinite;
}
.heart:nth-child(23) .ring {
  -webkit-animation: wave 5000ms 3486ms ease-out infinite;
          animation: wave 5000ms 3486ms ease-out infinite;
}
.heart:nth-child(23) .inner {
  -webkit-animation: rotation 4339ms linear infinite;
          animation: rotation 4339ms linear infinite;
}
.heart:nth-child(24) {
  transform: translateX(-146px) translateZ(-793px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(24) .movable {
  -webkit-animation: drop 5000ms -2801ms linear infinite;
          animation: drop 5000ms -2801ms linear infinite;
}
.heart:nth-child(24) .ring {
  -webkit-animation: wave 5000ms 1099ms ease-out infinite;
          animation: wave 5000ms 1099ms ease-out infinite;
}
.heart:nth-child(24) .inner {
  -webkit-animation: rotation 2625ms linear infinite;
          animation: rotation 2625ms linear infinite;
}
.heart:nth-child(25) {
  transform: translateX(382px) translateZ(432px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(25) .movable {
  -webkit-animation: drop 5000ms 1333ms linear infinite;
          animation: drop 5000ms 1333ms linear infinite;
}
.heart:nth-child(25) .ring {
  -webkit-animation: wave 5000ms 5233ms ease-out infinite;
          animation: wave 5000ms 5233ms ease-out infinite;
}
.heart:nth-child(25) .inner {
  -webkit-animation: rotation 3149ms linear infinite;
          animation: rotation 3149ms linear infinite;
}
.heart:nth-child(26) {
  transform: translateX(443px) translateZ(-346px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(26) .movable {
  -webkit-animation: drop 5000ms 688ms linear infinite;
          animation: drop 5000ms 688ms linear infinite;
}
.heart:nth-child(26) .ring {
  -webkit-animation: wave 5000ms 4588ms ease-out infinite;
          animation: wave 5000ms 4588ms ease-out infinite;
}
.heart:nth-child(26) .inner {
  -webkit-animation: rotation 3959ms linear infinite;
          animation: rotation 3959ms linear infinite;
}
.heart:nth-child(27) {
  transform: translateX(498px) translateZ(-439px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(27) .movable {
  -webkit-animation: drop 5000ms -1532ms linear infinite;
          animation: drop 5000ms -1532ms linear infinite;
}
.heart:nth-child(27) .ring {
  -webkit-animation: wave 5000ms 2368ms ease-out infinite;
          animation: wave 5000ms 2368ms ease-out infinite;
}
.heart:nth-child(27) .inner {
  -webkit-animation: rotation 4019ms linear infinite;
          animation: rotation 4019ms linear infinite;
}
.heart:nth-child(28) {
  transform: translateX(352px) translateZ(691px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(28) .movable {
  -webkit-animation: drop 5000ms -2411ms linear infinite;
          animation: drop 5000ms -2411ms linear infinite;
}
.heart:nth-child(28) .ring {
  -webkit-animation: wave 5000ms 1489ms ease-out infinite;
          animation: wave 5000ms 1489ms ease-out infinite;
}
.heart:nth-child(28) .inner {
  -webkit-animation: rotation 4914ms linear infinite;
          animation: rotation 4914ms linear infinite;
}
.heart:nth-child(29) {
  transform: translateX(-207px) translateZ(54px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(29) .movable {
  -webkit-animation: drop 5000ms 477ms linear infinite;
          animation: drop 5000ms 477ms linear infinite;
}
.heart:nth-child(29) .ring {
  -webkit-animation: wave 5000ms 4377ms ease-out infinite;
          animation: wave 5000ms 4377ms ease-out infinite;
}
.heart:nth-child(29) .inner {
  -webkit-animation: rotation 4521ms linear infinite;
          animation: rotation 4521ms linear infinite;
}
.heart:nth-child(30) {
  transform: translateX(-266px) translateZ(-651px) scale3d(0.5, 0.5, 0.5);
}
.heart:nth-child(30) .movable {
  -webkit-animation: drop 5000ms 1815ms linear infinite;
          animation: drop 5000ms 1815ms linear infinite;
}
.heart:nth-child(30) .ring {
  -webkit-animation: wave 5000ms 5715ms ease-out infinite;
          animation: wave 5000ms 5715ms ease-out infinite;
}
.heart:nth-child(30) .inner {
  -webkit-animation: rotation 2323ms linear infinite;
          animation: rotation 2323ms linear infinite;
}
@-webkit-keyframes blur {
  0% {
    filter: blur(20px) grayscale(150%);
  }
  100% {
    filter: blur(10px) grayscale(50%);
  }
}
@keyframes blur {
  0% {
    filter: blur(20px) grayscale(150%);
  }
  100% {
    filter: blur(10px) grayscale(50%);
  }
}
@-webkit-keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@-webkit-keyframes drop {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
    opacity: 3;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}
@keyframes drop {
  0% {
    transform: translateY(-1000px);
    opacity: 0;
  }
  80% {
    transform: translateY(0);
    opacity: 3;
  }
  100% {
    transform: translateY(-40px);
    opacity: 0;
  }
}
@-webkit-keyframes wave {
  0% {
    transform: translate(-50%, -50%) rotateX(90deg) scale(0) translateZ(-37px);
    opacity: 2;
  }
  100% {
    transform: translate(-50%, -50%) rotateX(90deg) scale(2) translateZ(-37px);
    opacity: 0;
  }
}
@keyframes wave {
  0% {
    transform: translate(-50%, -50%) rotateX(90deg) scale(0) translateZ(-37px);
    opacity: 2;
  }
  100% {
    transform: translate(-50%, -50%) rotateX(90deg) scale(2) translateZ(-37px);
    opacity: 0;
  }
}
@-webkit-keyframes wing {
  0% {
    transform: rotateY(70deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}
@keyframes wing {
  0% {
    transform: rotateY(70deg);
  }
  100% {
    transform: rotateY(0deg);
  }
}