.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-body .m-messenger__message-content .m-messenger__message-text,
.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in .m-messenger__message-content .m-messenger__message-text{
    font-size:12px !important;
    white-space: pre-line;
}
.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--in .m-messenger__message-arrow:before{
    margin-top:17px !important;
    font-size:30px !Important;
}
.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--in .m-messenger__message-arrow{
    left:6px !important;
    margin-top:0px !important;
}
.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--out .m-messenger__message-arrow:before{
    margin-top:17px !important;
    font-size:30px !Important;
}
.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--out .m-messenger__message-arrow{
    right:2px !important;
    margin-top:0px !important;
}
.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-body .m-messenger__message-content{
    padding:8px 12px !important;

}
.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out .m-messenger__message-username{
    color:#888;
    font-size:10px !important;
    margin-right:12px !important;
    text-align:right !important;
    display: table-caption !Important;
    /*width:100% !important;*/
    margin-top:10px !important;
    font-weight: 600;
}
.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in .m-messenger__message-username{
    color:#888;
    font-size:10px !important;
    margin-left:54px !important;
    display: table-caption !Important;
    width:100% !important;
    margin-top:10px !important;
    font-weight: 600;
}
.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--out .m-messenger__message-content{
    /*background:#eee;*/
    background-image: linear-gradient(to left,#ef9539,#ffcc80);

    right:2px !Important;
    text-align:right;
    margin-right: 9px !important;
}
.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--out .m-messenger__message-arrow{
    height:40px !important;
    /*color:#eee !important;*/
    color:#ef9539 !Important;
}
.m-messenger .m-messenger__messages .m-messenger__message{
    margin:0 0 2px 0 !Important;
}
.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-pic{
    padding:0 !important;
}
.chat-username{
    color:#58585A;
    font-size:13px !important;
    font-weight:401;
    text-align:left !important;
    margin-bottom:0;
    vertical-align: middle;
}
.chat-lastmessage{
    color:#777;
    font-size:11px !important;
    text-align:left !important;
    margin-bottom:0;
    vertical-align: middle;
}
.last-chat-time{
    color:#555;
    font-size:11px !important;
    text-align:right !important;
    margin-bottom:0;
    vertical-align: middle;
    margin-right:10px;
}
#chat_sidebar .list-group-item img{
    width:60% !important;
    border-radius:50% !important;
}
#chat_sidebar .list-group-item{
    border-bottom:2px solid #F7F7FA;
    border-top:none;
    border-left:none;
    border-right:none;
    border-radius: 0 !important;
    background:white;
    padding:10px;

}
#chat_sidebar .list-group-item:hover{
    background:#eee;
}
#chat_sidebar .list-group-item.active{
    background:white;
    pointer-events: none;
}

.chat-status-online{
    border:2px solid #4DD965;
}
.chat-status-offline{
    /*border:1px solid #FFBA00;*/
}
.m-messenger .m-messenger__seperator{
    margin:20px 0;
}
.m-messenger .m-messenger__form .m-messenger__form-attachment:hover{
    background:#02A5FF;
    color:white;
}
.m-messenger .m-messenger__form .m-messenger__form-attachment{
    background:#2D404E;
    color:white;
}
.m-messenger__form-input-2{
    font-size:12px !important;
    min-height:40px !important;
    height:40px;
    max-height:100px !important;
    resize: none;
    background-color: #eee;
    line-height: 1.5;

}
.m-messenger__form-input-2:focus{
    border:1px solid #ebedf2;
    background-color: #a0bace;
    color:black !important;
}
.m-messenger__form-input-2:focus::placeholder{
    color:#333 !important;
}
.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in .m-messenger__message-content .m-messenger__message-text{
    color:white;
    font-weight:400;
    text-align:left;
    word-break: break-all;
}
.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out .m-messenger__message-content .m-messenger__message-text{
    color:black;
    font-weight:500;
    text-align:left;
    word-break: break-all;
}
.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in .m-messenger__message-content{

    background-image: linear-gradient(to right, #2D404E , #5a6c79); 
}
.m-messenger.m-messenger.m-messenger--message-arrow .m-messenger__message.m-messenger__message--in .m-messenger__message-arrow{
    color:#2D404E;
}
.m-messenger .m-messenger__messages .m-messenger__message .m-messenger__message-pic img{
    margin-top:-6px !important;
}
.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in .m-messenger__message-body{
    display:table;
}
.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out .m-messenger__message-body{
    display:block;
    /*display:table*/
}
#chat_toggler{
    padding: 5px;
    width: 60px;
    height: 60px;
    position: fixed;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    z-index: 999;
     display: block; 
    /*display:none;*/
    background: white;
    
}
#chat_toggler:hover
{
    z-index: 2;
/*    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 100ms ease-in;
    transform: scale(1.1);*/
    cursor: pointer; 
    width:65px !important;
    height:65px  !important;
}
#chat_toggler .popover-body{
    background-color:white !important;
    color:orange !important;
}
.tooltip{
    color:black !important;
}
.cut-text { 
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 100%; 
    white-space: nowrap;
}   
.m-messenger .m-messenger__form .m-messenger__form-attachment.inactive{
    pointer-events: none;
    background:#888;
    color:#eee;
}
.m-messenger .m-messenger__form .m-messenger__form-attachment.active{
    background:#444;
    color:white;
}
.m-messenger .m-messenger__form .m-messenger__form-attachment.active:hover{
    background:#333;
}

.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--in{
    max-width:95%;
}
.m-messenger .m-messenger__messages .m-messenger__message.m-messenger__message--out{
    max-width:95%;
}
.badge-chat{
    height:10px !important;
    width:10px !important;
    background:#616161;
}
.m-badge--green{
    background:#4DD965 !important;
}
.m-messenger__notes{
    height:15px !important;
    font-size:11px !important;
    color:#555 !Important;
    margin-top:10px;
    padding-left:50px;
}

.custom-spinner{
    margin-left:3px;
}
.custom-spinner > div {
    width: 6px;
    height: 6px;
    background-color: #999;
    border-radius: 100%;
    margin-left:2px;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.custom-spinner .custom-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.custom-spinner .custom-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
        } 40% { 
            -webkit-transform: scale(1.0);
            transform: scale(1.0);
        }
    }

    .m-messenger .m-messenger__messages .m-messenger__datetime{
        text-transform:none !important;
        margin:0 !important;
    }

    .badge-unread{
        padding: 0px 3px !important;
        line-height: 18px !important;
        margin-top: -3px !important;
        min-height:18px !important;
        font-size:11px !important;
        color:white !important;
        font-weight:500 !important;
        /*background-color:#FF8A00 !important;*/
        background-color:rgb(245, 67, 55) !Important;
        border-radius:2px !Important;
    }
    #tab-chat.nav-pills .nav-item .nav-link.active{
        color:#2D404E !important;
        border-bottom-color: #2D404E;
        background:white !important;
    }
    #tab-chat.nav-pills .nav-item .nav-link.active i{
        color:#2D404E !important;
    }
    #tab-chat.nav-pills .nav-item .nav-link{
        background:white;
        color: #777;
        font-weight:500;  
        border-radius:0;
        border-bottom:2px solid #efefef;

    }
    #tab-chat.nav-pills .nav-item{
        margin:0 !important;
    }
/*
div[id*='chatcontainer-']{
    border-bottom:1px solid red;
    }*/

    #tab-contacts .mCSB_scrollTools,#tab-messages .mCSB_scrollTools{
        right:-4px !important;
    }
    .nomessage-img{
        width:30%;
        border-radius:50%;
    }
    .popover.popover-chat-parent .arrow{
        left:235px !Important;
    }
    .popover-body.popover-chat {
        background-color:white !Important;
        color:black !Important;
        border-radius:15px !Important;
        padding:5px !important;
        border: 2px solid #ccc !important;
    }
    .popover-chat-img{
        width:100% !important;
        border-radius:50%;
        border: 2px solid #ccc;
    }
    .popover.popover-chat-parent{
        z-index:999 !important;
        border-radius:15px !important;
        left:-15px !important
    }
    .popover-chat-title{
        font-size:14px;
    }
    .popover-chat-content{
        font-size:13px;
    }
    .popover-chat-close{
        cursor:pointer;
        color:#888;
    }
    .popover-chat-close i{
        font-size:20px;
    }
    .chat-header-img{
        width:80%;
        border-radius:50%;
    }
    .flip-letter{
        -webkit-transform:rotateY(180deg);
        -moz-transform:rotateY(180deg);
        -o-transform:rotateY(180deg);
        -ms-transform:rotateY(180deg);
        unicode-bidi:bidi-override;
        direction:rtl;
    }

